
<ul class="parallax">
<!--       <li>
        <div class="parallax-background photo7"></div>
      </li> -->
      <li>
        <div class="parallax-background photo1"></div>
        <div class="text-mom">
          <h1>Mom</h1>
          <h2>Is here at your service</h2>

             <form action="/welcome" method="post">

                <input type="submit" value="Send Me a Text!">

             </form>
        </div>
      </li>
      <li class="thin-test">
        <div class="parallax-background photo7"></div>
      </li>
      <li>
        <div class="parallax-background photo6"></div>
          <div class="text-weather">
            <h1>Weather</h1>
            <h2>Stay warm honey!</h2>
        </div>
      </li>
      <li class="thin-test">
        <div class="parallax-background photo4"></div>
      </li>
      <li>
        <div class="parallax-background photo5"></div>
          <div class="text-food">
            <h1>Save money and eat healthy!</h1>
        </div>
      </li>
      <li>
        <div class="parallax-background photo3"></div>
          <div class="text-transportation">
            <h1>Don't be late for work dear!</h1>
          </div>
        </div>
      </li>
    </ul>


