<!-- <nav>
    <a href="#" class="register">Register</a>
    <a href="#" class="signup">Sign up</a>    
  </nav> -->
<div class="container">

  <ul class="parallax">
      <li class="banner">
          <div class="parallax-background first">
          <div class="text-first">
            <h1>Welcome to Mom.com!</h1>
            <h3 class="tagline">It's been so long.</h3>
 <!--           <h3>Get a custom text</h3> -->
<!--             <input type="text" id="phone-num"placeholder="Phone Number">
            <input type="submit" id="send-text"value="Mom Me"> -->
          </div>

          <div class="circle-photo-one"></div>
          </div>
      </li>
      <li class="thin-first"></li>
      <li>
        <div class="parallax-background second">
        <div class="weather-photo"></div>
        <div class="text-second">
          <h2 class="weather-header">Weather</h2>
          <p class="weather-copy"><small>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, provident, ipsam. Error, doloremque, sapiente expedita dolore saepe eius iste ea necessitatibus id deserunt maiores tempora repellendus rerum fuga repellat voluptatum.</small>
          </p>
          <h3>Stay warm, honey!</h3>
        </div>
        </div>
      </li>
      <li class="thin-second"></li>
      <li>
        <div class="parallax-background third">
        <div class="text-third">
        <h2 class="eat-header">Eat healthy</h2>
        <p class="eat-copy"><small>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, sunt quos magnam similique voluptatibus maiores accusamus neque nam explicabo repellendus quidem amet quae dignissimos quod placeat labore inventore voluptatum! Odio.</small>
        </p>
        <h3 class="eat-tagline">while not spending all of my money</h3>
        </div>
        <div class="eat-photo"></div>
        </div>
      </li>
      <li>
        <div class="parallax-background fourth">
        <div class="late-photo"></div>
        <div class="text-fourth">
        <h2 class="late-header">Transportation</h2>
        <p class="late-copy"><small>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, sunt quos magnam similique voluptatibus maiores accusamus neque nam explicabo repellendus quidem amet quae dignissimos quod placeat labore inventore voluptatum! Odio.</small></p>
        <h3 class="late-tagline">Dont be late for work, dear!</h3>
        </div>
        </div>
      </li>
    </ul>
</div>
</body>
</html>
