<!-- <nav>
    <a href="#" class="register">Register</a>
    <a href="#" class="signup">Sign up</a>    
  </nav> -->
<div class="container">
  <ul class="parallax">
      <li class="banner">
          <div class="first">
            <div class="text-first">
              <h1 class="animated bounceInLeft">Welcome to Mom.com</h1>
              <h3 class="tagline animated bounceInRight">Why don't you ever call?</h3>
            </div>
            <div class="circle-photo-one"></div>
          </div>
      </li>
      <!-- <li class="thin-first"></li> -->
      <li>
        <div class="parallax-background second">
          <div class="weather-photo"></div>
          <div class="text-second">
            <h2 class="weather-header">Weather</h2>
            <p class="weather-copy"><small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, provident, ipsam. Error, doloremque, sapiente expedita dolore saepe eius iste ea necessitatibus id deserunt maiores tempora repellendus rerum fuga repellat voluptatum.</small>
            </p>
            <h3>Stay warm, honey!</h3>
          </div>
        </div>
      </li>
      <!-- <li class="thin-second"></li> -->
      <li>
        <div class="parallax-background third">
          <div class="text-third">
            <h2 class="eat-header">Eat healthy</h2>
            <p class="eat-copy"><small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, sunt quos magnam similique voluptatibus maiores accusamus neque nam explicabo repellendus quidem amet quae dignissimos quod placeat labore inventore voluptatum! Odio.</small>
            </p>
            <h3 class="eat-tagline">while not spending all of my money</h3>
          </div>
          <div class="eat-photo"></div>
        </div>
      </li>
    
     <!--  <li class="liclass"><div class="parallax-background photo1"></div></li> -->
      
      <li>
        <div class="parallax-background fourth">
          <div class="late-photo"></div>
          <div class="text-fourth">
            <h2 class="late-header">Transportation</h2>
            <p class="late-copy"><small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, sunt quos magnam similique voluptatibus maiores accusamus neque nam explicabo repellendus quidem amet quae dignissimos quod placeat labore inventore voluptatum! Odio.</small></p>
            <h3 class="late-tagline">Dont be late for work, dear!</h3>
          </div>
        </div>
      </li>

      <li class="footer">
        <div class="parallax-background fifth">
          <div class="text-fifth">
            <h2 class="test-text-header">Try Us Out!</h2>
            <input type="text" id="phone-num" placeholder="1(800) CALL-MOM">
            <button id="send-text">Text Me</button>
            <p class="test-text-copy"><small>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, sunt quos magnam similique voluptatibus maiores accusamus neque nam explicabo repellendus quidem amet quae dignissimos quod placeat labore inventore voluptatum! Odio.</small></p>
            <h3 class="test-text-tagline">Don't worry, mommy would never sell your number.</h3>
          </div>
        </div>
      </li>

  </ul>
</div>
</body>
</html>
