body {
  font-size: 18px;
}

.inactive {
  visibility: hidden;
  display: none;
}

.button_to {
  display: inline-block;
  margin-top: 7px;
}

nav {
  height: 50px;
  background-color: slategray;
 
}

.photo1 {
  background-color: #040404;
}

.circle-photo {
  background-image: url('mom7.jpg'); 
  height: 220px;
  width: 220px;
  border-radius: 100%;
  display: inline-block;
}

.circle-photo-two {
  background-image: url('mom7.jpg'); 
  height: 220px;
  width: 220px;
  border-radius: 100%;
  display: inline-block;
}

.word-wrap {
  display: inline-block;
  padding-right: 250px;
}


.photo2 {
/*  background-image:url('50smomcleaning.png');
  background-size: cover;*/
/*  background-position: 50 150;*/

}
.last-photo {
/*  background-image:url('50smomcleantable.jpg');
  background-size: cover;*/
  /*background-position:*/
    background-color: #040404;
}

.photo4 {
/*  background-image:url('mom4.jpg');
  background-size: cover;*/
  /*background-position:*/
}
.photo5 {
/*  background-image:url('mom5.jpeg');
  background-size: cover;*/
  /*background-position:*/
}
.photo6 {
/*  background-image:url('mom6.jpg');
  background-size: cover;*/
  /*background-position:*/
}
.photo7 {
/*  background-image:url('mom7.jpg');
  background-size: cover;
  background-position: 100px -200px;*/
}
.photo8 {
/*  background-image:url('mom8.jpeg');
  background-size: cover;*/
  /*background-position:*/
}

.thin-test {
	height: 100px;
}

ul li {
  list-style: none;
  overflow: hidden;
  height: 550px;
  position:relative;
}

ul li .text-weather, .text-food, .text-transportation {
  position: absolute;
  top: 50px;
  right: 75px;
  color: gray;
  text-shadow: 2px 2px 4px black;
  /*color: #000000;*/
  background: rgba(255,255,255,0.0);
  font-family: 'Pacifico', cursive;
	
}

ul li .text-food {
  position: absolute;
  top: 50px;
  left: 75px;
}

.text-weather h1, .text-food h1, .text-transportation h1 {
  font-family: 'Pacifico', cursive;
}


ul li .text-mom {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 50px;
  color: white;
  text-shadow: 2px 2px 4px black;
  /*color: #000000;*/
  background: rgba(255,255,255,0);
  font-size: 60px; 
  padding-bottom: 40px;
}

<<<<<<< HEAD
.text-mom h1 {
  color: #FFFAFA;
=======
.text-mom h1, .text-mom h2, .text-mom h3 {
  color: white;
>>>>>>> 45b8e86e72c5694a5263fe6f781d2a59da2829cf
  font-family: 'Pacifico', cursive;
  font-size: 1em; 
}

.text-mom h2 {
  color: #FFFAFA;
  font-family: 'Arial';
  font-size: .5em;
  padding-left: 15px;
}

.parallax-background {
  height: 900px;
}



