<!DOCTYPE html>
<html>
<head>
  <title>Mom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<link href='http://fonts.googleapis.com/css?family=Miniver|Lily+Script+One|Petit+Formal+Script|Great+Vibes|Merienda+One|Vibur|Playball|Norican|Pacifico|Dancing+Script' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="panel">

	</div><p class="slide"><div class="pull-me">Slide Up/Down</div></p>
<%= yield %>

</body>
</html>
